<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header_new'); -%>  
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar_new'); -%>
        <section class="team section" id="team">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="title text-center">                            
                            <h2>Our Team</h2>
                            <span class="border"></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- team member -->
                    <div class="col-12 col-md-4 col-sm-6" >
                       <div class="team-member text-center">
                                                      
                            <!-- member name & designation -->
                            <div class="member-content">
                                <h3>Shawshank Redemption</h3>
                                <span>Head Of Marketing</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                            </div>
                            <!-- /member name & designation -->
                           
                       </div>
                    </div>
                    <!-- end team member -->
                    
                    <!-- team member -->
                    <div class="col-12 col-md-4 col-sm-6" >
                       <div class="team-member text-center">
                                                        
                            <!-- member name & designation -->
                            <div class="member-content">
                                <h3>Luis Anthon</h3>
                                <span>Finance Advisor</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                            </div>
                            <!-- /member name & designation -->
                        </div>
                    </div>
                    <!-- end team member -->
                    
                    <!-- team member -->
                    <div class="col-12 col-md-4 col-sm-6">
                       <div class="team-member text-center">
                                                       
                            <!-- member name & designation -->
                            <div class="member-content">
                                <h3>Jonathon Andrew</h3>
                                <span>Head Of Management</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                            </div>
                            <!-- /member name & designation -->
                            
                       </div>
                    </div>
                    <!-- end team member -->
                    <!-- team member -->
                    <div class="col-12 col-md-4 col-sm-6">
                       <div class="team-member text-center">
                         
                            
                            <!-- member name & designation -->
                            <div class="member-content">
                                <h3>Michael Jonson</h3>
                                <span>Head Of Management</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                            </div>
                            <!-- /member name & designation -->
                            
                       </div>
                    </div>
                    <!-- end team member -->
                    <!-- team member -->
                    <div class="col-12 col-md-4 col-sm-6" >
                       <div class="team-member text-center">
                           
                            
                            <!-- member name & designation -->
                            <div class="member-content">
                                <h3>Luis Anthon</h3>
                                <span>Finance Advisor</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                            </div>
                            <!-- /member name & designation -->
                        </div>
                    </div>
                    <!-- end team member -->
                    <!-- team member -->
                    <div class="col-12 col-md-4 col-sm-6" >
                       <div class="team-member text-center">
                           
                            
                            <!-- member name & designation -->
                            <div class="member-content">
                                <h3>Luis Anthon</h3>
                                <span>Finance Advisor</span>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                            </div>
                            <!-- /member name & designation -->
                        </div>
                    </div>
                    <!-- end team member -->
                </div>  	<!-- End row -->
            </div>   	<!-- End container -->
        </section>   <!-- End section -->   
        <!-- Footer-->
        <%- include('layouts/footer_new'); -%>
        <%- include('layouts/scripts_new'); -%>
    </body>
</html>
