<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header_new'); -%>  
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar_new'); -%>
        
        <!-- New content-->
        <section class="contact-us section bg-gray" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="title text-center">                            
                            <h2>Create a new Post</h2>
                            <span class="border"></span>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Contact Form -->
                    <div class="contact-form col-12 col-md-6  mx-auto" >
                        <form id="contact-form" method="post" action="/create_post" role="form">
                        
                            <div class="form-group">
                                <input type="text" placeholder="Blog Title" class="form-control" id="blog_title" name="blog_title">
                            </div>
                            
                            <div class="form-group">
                                <textarea rows="6" placeholder="Blog Content" class="form-control" id="blog_content" name="blog_content"></textarea>	
                            </div>
                                                                                    
                            <div id="cf-submit">
                                <input type="submit" id="save_post_Button" class="btn btn-transparent" value="Save Post">
                            </div>						
                            
                        </form>
                    </div>
                    <!-- ./End Contact Form -->
                </div> <!-- end row -->
                
            </div> <!-- end container -->
        </section> <!-- end section -->
        <!-- New content-->
        <!-- Footer-->
        <%- include('layouts/footer_new'); -%>
        <%- include('layouts/scripts_new'); -%>
    </body>
</html>
